<aside>
    <ul>
        <li><a href=""></a>Dashboard</li>
       <li><a href=""></a>Registrar</li>
       <li><a href=""></a>Categorias</li>
       <li><a href=""></a>Gerenciar Usuários</li>
       <li><a href=""></a>Sair</li>
    </ul>
</aside>